/* booking.css */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/Contact/Images/9.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    overflow-x: hidden; 
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.col-md-12 {
    background: transparent;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    background: none;
    padding: 10px 0px 0px 12px;
}

#mo-button-open {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    padding: 5px;
}

#mo-button-open > div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
}

.menu-content {
   padding: 210px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.slide-content h1 {
    margin-top: -20px;
    color: #fff;
    font-size: 42px;
    letter-spacing: 3px;
    font-family: 'Montserrat';
    animation: zoomIn 1s ease forwards;
  }
  
  .slide-content h4 {
    padding-top: 50px;
    color: #CA8E46;
    font-size: 60px;
    font-family: 'Mrs Saint Delafield';
    animation: zoomIn 1s ease forwards;
  }
  
  .slide-content h4 {
      animation-fill-mode: forwards;
  }
  
  
  
  .slide-content h4{
      margin-top: -46px;
  }
  
  .slide-content {
      padding-top: 50px;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

@keyframes slideDown {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes slideUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideUpToShow {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 5em;
    cursor: pointer;
    color: #efefef;
    z-index: 101;
    transition: font-size 0.5s ease, top 0.5s ease, right 0.5s ease;
}

.menu-overlay.open .close-btn {
    font-size: 5em;
    top: 20px;
    right: 20px;
}

.menu-overlay.close .close-btn {
    font-size: 5em;
    top: 20px;
    right: 20px;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-overlay.open {
    display: flex;
    animation: slideDown 0.5s forwards;
}

.menu-overlay.close {
    display: block;
    animation: slideUp 0.5s forwards;
}

#content {
    padding-top: 80px;
}

.de-content-overlay {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background: rgb(49 43 36 / 60%);
    opacity: 0;
    transform: translateY(100%);
}
@keyframes slideUpToShow {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.de-content-overlay.show {
    animation: slideUpToShow 1s forwards;
}

.container {
    max-width: 100%;
}

.message-form h2 {
    font-family: 'Montserrat';
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    word-spacing: 1.5;
    margin-top: 30px;
    margin-bottom: 30px; /* Khoảng cách giữa h2 và các span */
}

.message-form span {
    display: block; /* Để các span hiển thị trên từng dòng */
    margin-bottom: 80px; /* Khoảng cách giữa các span */
}


.map {
    width: 100%;
    height: 450px; /* Mở rộng chiều cao của map */
}

.message-form {
    margin-top: -140px; /* Điều chỉnh khoảng cách top so với các phần tử khác */
    margin-bottom: 20px; /* Khoảng cách dưới cùng */
}


.message-form form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message-form input, .message-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.message-form textarea {
    height: 100%;
    min-height: 150px;
}

button[type="submit"] {
    margin-right: 50px;
    margin-left: -4px;
    align-self: flex-start;
    padding: 10px 20px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}


#social-links {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#social-links a {
    display: block;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}


#menu-overlay >p{
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    cursor: pointer;
    letter-spacing: 5px;
    transition: font-size 0.5s ease, transform 0.5s ease;
    transition: color 0.01s ease;
    margin:0;
    padding :0;
}

.menu-overlay.open .menu-content p {
    font-size: 30px;
    letter-spacing: 5px;
}

.menu-overlay.close .menu-content p {
    letter-spacing: 5px;
    font-size: 30px;
}

.menu-overlay p a {
    color: #ffffff;
    text-decoration: none;
}

.menu-overlay p a:hover {
    color: #CA8E46;
}


.site-footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 20px; /* Đặt footer ở cuối trang */
}
.site-footer p {
    letter-spacing: normal;
    margin-top: 20px;
    font-family: 'Heebo';
    font-size: 16px;
}

.social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin: 0 5px;
}



@keyframes slideUpToShow {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* font chu */
.hotel h2{
    font-family: 'Montserrat';
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    word-spacing: 1.5;
    margin-bottom: 25px;
}


.hotel p {
    margin-bottom: 20px; /* Khoảng cách giữa các p với nhau */
    border-bottom: 1px solid #9d9a9a; /* Đường ngăn chia */
    padding-bottom: 5px; /* Khoảng cách phía dưới của border-bottom */
}


.message-form input[type="text"],
.message-form input[type="email"],
.message-form input[type="tel"] {
    background: transparent; /* Background transparent */
    border: 1px solid #fff; /* Border màu trắng mặc định */
    transition: border-color 0.3s ease; /* Hiệu ứng khi focus vào input */
    color: #fff; /* Text placeholder có màu trắng */
    padding: 10px;
    margin-bottom: 30px; /* Khoảng cách dưới cùng của từng input và textarea */
    padding: 10px;
    width: 100%;
}

.message-form input[type="text"]:focus,
.message-form input[type="email"]:focus,
.message-form input[type="tel"]:focus {
    border-color: #CA8E46; /* Border đổi màu khi focus */
    outline: none;
}

.message-form input[type="text"]::placeholder,
.message-form input[type="email"]::placeholder,
.message-form input[type="tel"]::placeholder,
.message-form textarea::placeholder {
    color: #fff; 
    font-family: 'Heebo';
    font-size: 20px;
}


.hotel span {
    color: #CA8E46;
    font-family: 'Heebo'; 
    font-size: 20px;
}
.hotel p{
    color:#ffffff;
    font-size: 20px;
    font-family: 'Heebo';
}
.message-form textarea {
    background: transparent; /* Background transparent */
    border: 1px solid #fff; /* Border màu trắng mặc định */
    transition: border-color 0.3s ease; /* Hiệu ứng khi focus vào textarea */
    color: #fff; /* Text placeholder có màu trắng */
    padding: 10px;
    min-height: 150px; /* Chiều cao tối thiểu */
}

.message-form textarea:focus {
    border-color: #CA8E46; /* Border đổi màu khi focus */
    outline: none;
}

button[type="submit"] {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    background-color: transparent; /* Màu nền trong suốt */
    color: #fff; /* Màu chữ là trắng */
    border: 1px solid #fff; /* Viền màu trắng */
    padding: 10px 20px; /* Đệm cho nút */
    transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng khi hover */
}

button[type="submit"]:hover {
    background-color: #CA8E46; /* Màu nền khi hover */
    color: #fff; /* Màu chữ là trắng khi hover */
}