/* booking.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/Room/Images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    overflow-x: hidden; 
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.col-md-12 {
    background: transparent;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    background: none;
    padding: 10px 0px 0px 12px;
}

#mo-button-open {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    padding: 5px;
}

#mo-button-open > div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
}

.menu-content {
   padding: 210px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.menu-overlay.open .menu-content p {
    font-size: 30px;
    letter-spacing: 5px;
}

@keyframes slideDown {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes slideUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
}
/* hieu ung cho container*/
@keyframes slideUpToShow {
    from { 
        opacity: 0;
        transform: translateY(50px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 5em;
    cursor: pointer;
    color: #efefef;
    z-index: 101;
    transition: font-size 0.5s ease, top 0.5s ease, right 0.5s ease;
}

.menu-overlay.open .close-btn {
    font-size: 5em;
    top: 20px;
    right: 20px;
}

.menu-overlay.close .close-btn {
    font-size: 5em;
    top: 20px;
    right: 20px;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-overlay.open {
    display: flex;
    animation: slideDown 0.5s forwards;
}

.menu-overlay.close {
    display: block;
    animation: slideUp 0.5s forwards;
}

#content {
    padding-top: 80px;
}


.slide-content p {
    font-family: 'Montserrat';
    color: #fff;
    font-size: 60px;
    padding:40px;
    margin-top: 46px;
    letter-spacing: 8px;
    animation: zoomIn 1s ease forwards;
}

.slide-content p {
    animation-fill-mode: forwards;
    margin-top: -46px;
}


.slide-content {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#social-links {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#social-links a {
    display: block;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}


#menu-overlay >p{
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    cursor: pointer;
    letter-spacing: 5px;
    transition: font-size 0.5s ease, transform 0.5s ease;
    transition: color 0.01s ease;
    margin:0;
    padding :0;
}


.menu-overlay.close .menu-content p {
    letter-spacing: 5px;
    font-size: 30px;
}

.menu-overlay p a {
    color: #ffffff;
    text-decoration: none;
}

.menu-overlay p a:hover {
    color: #CA8E46;
}

.site-footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.site-footer p {
    letter-spacing: normal;
    margin-top: 20px;
    font-family: 'Heebo';
    font-size: 16px;
}

.social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin: 0 5px;
}

/* Existing CSS */

.container {
    padding: 20px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
}
.col-lg-6 .image {
    position: relative;
    overflow: hidden;
}

.col-lg-6 .image img {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.col-lg-6 .image img.default-image {
    transform-origin: center center;
}

.col-lg-6 .image img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.col-lg-6 .image:hover img.default-image {
    transform: scale(2);
    opacity: 0;
}

.col-lg-6 .image:hover img.hover-image {
    transform: scale(1);
    opacity: 1;
}

/* Đảm bảo label luôn ở trên cùng */
.col-lg-6 .image .label {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.big-box {
    background-color: transparent;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.big-box .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.big-box .image {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.big-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-box .label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #CA8E46;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

.big-box .text-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Cho phép text-content mở rộng để lấp đầy không gian còn lại */
}

.big-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.room-info {
    display: flex;
    width: 100%; /* Đảm bảo room-info chiếm toàn bộ chiều rộng */
    color: #fff;
    background-color: rgba(0, 0, 0, 25%);
    padding: 10px;
}

.room-info span {
    margin:10px;
    display: flex;
    align-items: center;
}

.room-info i {
    margin-right: 5px;
}
.room-details {
    background-color: rgba(0, 0, 0, 35%);
    padding: 15px;
    flex-grow: 1; /* Cho phép room-details mở rộng để lấp đầy không gian còn lại */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Phân bố nội dung đều trong room-details */
}
.room-details h3 {
    font-family: 'Montserrat';
    font-size: 18.5px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0;
    color: white;
}

.room-details p {
    flex-grow: 1; /* Cho phép đoạn văn mở rộng để lấp đầy không gian giữa tiêu đề và nút */
    margin-bottom: 10px;
    font-family: 'Heebo';
    font-size: 16.5px;
    font-weight: 300;
    color: #fff;
}

.big-box p {
    margin-bottom: 20px;
}

.submit-form {
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 0.5s, color 0.5s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.submit-form:hover {
    background-color: #CA8E46;
    color: #fff;
    text-decoration: none;
}

.submit-form::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #CA8E46;
    transition: left 0.5s;
    z-index: -1;
}

.submit-form:hover::before {
    left: 0;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .row {
        flex-direction: column;
    }
    .col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.slide-content h1 {
    margin-top: -20px;
    color: #fff;
    font-size: 42px;
    letter-spacing: 3px;
    font-family: 'Montserrat';
    animation: zoomIn 1s ease forwards;
  }
  
  .slide-content h4 {
    padding-top: 50px;
    color: #CA8E46;
    font-size: 60px;
    font-family: 'Mrs Saint Delafield';
    animation: zoomIn 1s ease forwards;
  }
  
  .slide-content h4 {
      animation-fill-mode: forwards;
  }